Flask==0.12.4
Werkzeug<0.13.0,>=0.12.0
requests==2.19.0
boto>=2.29.1
google-reauth>=0.1.0
httplib2>=0.8
oauth2client>=2.2.0
pyOpenSSL>=0.13
SocksiPy-branch==1.01
retry_decorator>=1.0.0
six>=1.6.1
# Extra requirements only needed for testing, 'dev' label in setup.py.
freezegun
mock
Django==1.10.0
oauth2client==3.0.0
jsonpickle==0.9.3
django
flask
keyring
mock
pycrypto>=2.6
pyopenssl>=0.14
python-gflags
pyyaml
webapp2
WebOb
base64
getopt
httplib
json
re
os
sys
StringIO
urlparse
xml.dom.minidom
zipfile